rahulrp.tech {
    # Explicitly define the routing order
    route {
        # First, handle API and WebSocket traffic by sending it to the backend
        handle_path /api/* {
            reverse_proxy backend:8000
        }
        handle /ws/* {
            reverse_proxy backend:8000
        }

        # As a fallback, handle all other traffic by sending it to the frontend
        handle {
            reverse_proxy frontend:3000
        }
    }
}
